body {
    margin: 0;
    padding: 0;
}

main {
    padding: 16px;
}

footer {
    padding: 24px, 0px, 24px, 0px;
}

img {
    height: 200px;
}

nav {
    border: 1px solid black;
    padding: 16px;
}
